@import 'nib';

*, *:before, *:after
  box-sizing border-box

body
  padding: 50px
  font: 14px "Open Sans", Helvetica, Arial, sans-serif
  background linear-gradient(-45deg, #257b9e, #5bb1d4)

html, body
  min-height 100%

a
  color: #00B7FF

#parent
  #ls
    width 100px
    height 100px
    position: absolute;
    top: 105px;
    left: 80px;
    display none

  $speed = 1.4s
  #sea
    width 200px
    height 300px
    transform rotate(-39deg)
  #sea-Head
    transform translateY(2px) translateX(-5px) rotate(-22deg)

  // This will cut down on CSS we have to write!
  // Don't bother understainding it, just trust the process...
  boat-root(selector)
    #{selector}
      animation selector $speed ease-in-out alternate infinite
    @keyframes {selector}
      from
        transform translateX(0px)
      to
        {block}
  boat(selector)
    +boat-root(selector)
      from
        transform translateX(0px)
      to
        {block}

  +boat(sea-Shadow)
    transform translateX(-6px)

  +boat(sea-Boat)
    transform translateX(6px)

  +boat(sea-Top-Deck-Shadow)
    transform translateX(-3px)

  +boat(sea-Top-Deck-Inside)
    transform translateX(-3px)

  +boat(sea-Top-Shadow-right)
    transform translateX(-8px)

  +boat(sea-Outside-left)
    transform translateX(-5px)

  +boat(sea-Deck-Shadow-right)
    transform translateX(-8px)

  +boat(sea-Deck-right)
    transform translateX(-10px)

  +boat-root(sea-Body)
    from
      transform translate(13px, 132px)
    to
      transform translate(12px, 132px)

  +boat-root(sea-Head)
    from
      transform translateY(2px) translateX(-5px) rotate(-22deg)
    to
      transform translateY(2px) translateX(0px) rotate(-22deg)


  +boat(sea-RP-Shadow-Body)
    transform translateY(-1px)

  +boat(sea-RP-Shadow-Tail)
    transform translateY(-1px) translateX(-7px)

  +boat-root(sea-Tail)
    from
      transform translate(35.990969px, 5.149352px)
    to
      transform translate(31.990969px, 5.149352px)

#logo-p
  position relative
  height 200px
#logo, #logo-shadow, #logo-drop
  position absolute
  .logo
    display inline-block
    color #fff
    font-family 'Roboto Slab', serif
    font-weight 900
    font-size 70px
    padding 0 6px
    &.l1
      transform rotate(2deg)
    &.l2
      transform rotate(1deg)
    &.l3
      transform rotate(-2deg) translateY(3px)
    &.l4
      transform rotate(2deg)
    &.l5
      transform rotate(0deg) translateY(-3px)
    &.l6
      transform rotate(2deg)
    &.l6
      transform rotate(-2deg)
#parent
  width 620px
  position relative
  margin 50px auto

#sea
  position absolute
  left 390px
  top -90px

#logo-p
  position relative
  #lifeboat
    position absolute
    left 200px
    color #175a75
    font-size 37px
    top 88px

#logo
  .logo
    span
      position relative
      display inline-block
    &.l1 span
      animation letter 2.5s ease-out infinite
    &.l2 span
      animation letter 2.3s ease-out -0.3s infinite
    &.l3 span
      animation letter 2.4s ease-out -0.2s infinite
    &.l4 span
      animation letter 2.3s ease-out -0.4s infinite
    &.l5 span
      animation letter 2.5s ease-out -0.4s infinite
    &.l6 span
      animation letter 2.3s ease-out 0s infinite
    &.l6 span
      animation letter 2.5s ease-out -0.4s infinite
#logo-shadow
  transform translate(-5px, 8px)
  .logo
    color #338baf

#logo-drop
  transform translate(-1px, 4px)
  .logo
    color #dccec8

@keyframes letter
  0%
    transform translateY(4px)
  50%
    transform translateY(0px)
  100%
    transform translateY(4px)

#companies {
  max-width: 1761px;
  margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.company
  background #fff
  border-radius 10px
  box-shadow 0 -5px 3px rgba(0,0,0,0.1) inset, 0 3px 3px rgba(0,0,0,0.2)
  padding 30px
  h2
    margin 0

.add-company
  background #175a75
  border-radius 10px
  padding 30px
  color #fff
  h1
    margin 0
  p
    color rgba(#fff, 0.8)
