@import 'nib';

$speed = 1.4s

*, *:before, *:after
  box-sizing border-box

body
  padding: 50px
  font: 15px 'Fira Sans', sans-serif;
  font-weight 300
  background linear-gradient(-45deg, #257b9e, #5bb1d4)

html, body
  min-height 100%

a
  color: #00B7FF

#parent
  #ls
    width 100px
    height 100px
    position: absolute;
    top: 105px;
    left: 80px;
    display none

  #sea
    width 200px
    height 300px
    transform rotate(-39deg)
    animation boat 8.3s ease-out 0s alternate infinite
    @keyframes boat
      from
        transform rotate(-45deg)
      to
        transform rotate(-30deg)

  #sea-Head
    transform translateY(2px) translateX(-5px) rotate(-22deg)

  // This will cut down on CSS we have to write!
  // Don't bother understainding it, just trust the process...
  boat-root(selector)
    #{selector}
      animation selector $speed ease-in-out alternate infinite
    @keyframes {selector}
      from
        transform translateX(0px)
      to
        {block}
  boat(selector)
    +boat-root(selector)
      from
        transform translateX(0px)
      to
        {block}

  +boat(sea-Shadow)
    transform translateX(-6px)

  +boat(sea-Boat)
    transform translateX(6px)

  +boat(sea-Top-Deck-Shadow)
    transform translateX(-3px)

  +boat(sea-Top-Deck-Inside)
    transform translateX(-3px)

  +boat(sea-Top-Shadow-right)
    transform translateX(-8px)

  +boat(sea-Outside-left)
    transform translateX(-5px)

  +boat(sea-Deck-Shadow-right)
    transform translateX(-8px)

  +boat(sea-Deck-right)
    transform translateX(-10px)

  +boat-root(sea-Body)
    from
      transform translate(13px, 132px)
    to
      transform translate(12px, 132px)

  +boat-root(sea-Head)
    from
      transform translateY(2px) translateX(-5px) rotate(-22deg)
    to
      transform translateY(2px) translateX(0px) rotate(-22deg)


  +boat(sea-RP-Shadow-Body)
    transform translateY(-1px)

  +boat(sea-RP-Shadow-Tail)
    transform translateY(-1px) translateX(-7px)

  +boat-root(sea-Tail)
    from
      transform translate(35.990969px, 5.149352px)
    to
      transform translate(31.990969px, 5.149352px)

#logo-p
  position relative
  height 200px
#logo, #logo-shadow, #logo-drop
  position absolute
  padding-left 37px
  .logo
    display inline-block
    color #fff
    font-family 'Roboto Slab', serif
    font-weight 900
    font-size 70px
    padding 0 2px
    &.l1
      animation m 136s ease-out
      @keyframes m
        0%
          transform translateY(0px)
        5%
          transform translateY(0px)
        100%
          transform: rotate(-25deg) translate(-30px, -50px);
    /*
    padding 0 6px
    &.l1
      transform rotate(2deg)
    &.l2
      transform rotate(1deg)
    &.l3
      transform rotate(-2deg) translateY(3px)
    &.l4
      transform rotate(2deg)
    &.l5
      padding-right 0
      transform rotate(0deg) translateY(-3px)
    &.l6
      padding-left 0
      transform rotate(2deg)
    &.l7
      transform rotate(-2deg)
      */
    &.l5, &.l6
      font-family: 'Open Sans',serif;
      padding: 0;
      letter-spacing: -6px;
      font-weight 800
#parent
  width 580px
  position relative
  margin 80px auto

#sea
  position absolute
  left 350px
  top -90px

#logo-p
  position relative
  #lifeboat
    position absolute
    left 179px
    color #175a75
    font-size 37px
    top 88px
    font-weight 400

#logo
  .logo
    span
      position relative
      display inline-block
    $speed2 = $speed * 2
    &.l1 span
      animation letter $speed2 ease-out -0.4s infinite
    &.l2 span
      animation letter $speed2 ease-out -0.6s infinite
    &.l3 span
      animation letter $speed2 ease-out -1.0s infinite
    &.l4 span
      animation letter $speed2 ease-out -1.4s infinite
    &.l5 span
      animation letter $speed2 ease-out -1.8s infinite
    &.l6 span
      animation letter $speed2 ease-out -2.4s infinite
    &.l7 span
      animation letter $speed2 ease-out -2.8s infinite
#logo-shadow
  transform translate(-5px, 8px)
  .logo
    color #338baf

#logo-drop
  transform translate(-2px, 5px)
  .logo
    color #dccec8

@keyframes letter
  0%
    transform translateY(2px)
  50%
    transform translateY(0px)
  100%
    transform translateY(2px)

#companies {
  max-width: 1761px;
  margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@media(max-width: 1500px) {
  #companies {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 1200px) {
  #companies {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 800px) {
  #shore {
    display none
  }
}
@media(max-width: 800px) {
  #companies {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 600px) {
  body {
    padding: 20px;
  }
  #sea {
    top: -80px;
    left: 0;
  }
  #shore {
    display none
  }
  #parent {
    height: 280px;
    width: auto;
    margin-top: 50px;
    height: 370px;
  }
  #sea-parent {
    margin-left: -55px;
  }
  #logo-p #lifeboat {
    left: auto;
    width: 100%;
    text-align: center;
    left: 0;
  }
  #logo-p {
    display: block;
    width: auto;
    margin: auto;
  }
  #logo, #logo-shadow, #logo-drop {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
  #sea {
    margin: auto;
    position: relative;
    display: block;
  }
  #companies {
    display: block;
  }
  .company, .add-company {
    margin: 0 0 30px 0;
  }
}

.company
  background #fff
  border-radius 10px
  box-shadow 0 -5px 3px rgba(0,0,0,0.1) inset, 0 3px 3px rgba(0,0,0,0.2)
  padding 30px
  position relative
  .c-logo
    height 40px
    margin-bottom 20px
    img
      height: 40px;
      max-width: 100%;
  h2
    margin 0
    font-size 35px
  .desc
    color #333
    line-height 1.5em
  .same
    color #666
    font-size 15px
    line-height 1.5em
  h3
    font-weight: 400;
    font-size: 18px;
  .contact
    color: #888;
    font-size: 12px;
    a
      font-weight 400
      text-decoration none
      color #333
      &:hover
        color: #00B7FF
  .careers-pad
    height 60px
    width 100%
  .careers-parent
    position absolute
    bottom 0px
    width 100%
    padding 0 30px 30px
    left 0
  a.careers
    background: #19a719;
    display: block;
    border-radius: 4px;
    padding: 12px 0px 11px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-weight: 400;
    text-decoration: none;
    &:hover
      background: #128612;

.add-company
  background #175a75
  border-radius 10px
  padding 30px
  color #fff
  h3
    font-weight 400
  h3:first-child
    margin-top 0
  p
    color rgba(#fff, 0.8)
  #howto
    display none
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-top 12px
    p, strong
      color: #175a75;
      font-size: 13px;
      line-height: 1.4em;
    a
      background: rgb(255, 242, 224);
      padding: 2px 5px;
      border-radius: 3px;
      text-decoration: none;
      color: #175a75;
      font-weight: normal;
      &:hover
        background rgb(255 227 188)
  a
    background: #2d718c;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    text-decoration: none;
    &:hover
      background-color #f66b29
  a.chunky
    background: #2d718c;
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 9px;
    display: inline-block;
    &:hover
      background-color #f66b29

#shore
  position: absolute;
  top 23px
  right 0px
  $speed = 7s
  #shore-brown
    animation shore-brown $speed ease-in-out infinite
    @keyframes shore-brown
      0%
        transform translate(3px, -3px)
      50%
        transform translate(32px, -32px)
      100%
        transform translate(3px, -3px)
  #shore-white
    animation shore-white $speed ease-in-out infinite
    @keyframes shore-white
      0%
        transform translate(0px, -0px)
      60%
        transform translate(25px, -25px)
      70%
        transform translate(25px, -25px)
      100%
        transform translate(0px, -0px)
  #shore-blue
    animation shore-blue $speed ease-in-out infinite
    @keyframes shore-blue
      0%
        transform translateY(0px)
      50%
        transform translate(15px, -15px)
      100%
        transform translateY(0px)

#intro
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
  color: #fff;
  background: #175a75;
  width: 100%;
  z-index: 1000;
  padding: 14px;

footer
  text-align: center;
  padding: 80px 0 50px;
  color: #fff;
  max-width: 700px;
  margin: auto;
  line-height: 1.5em;
  a
    color #fff
    font-weight 400
    text-decoration none
    font-weight 700
    &:hover
      border-bottom 1px solid rgba(#eee, 0.3)

#looking
  max-width: 1760px;
  margin: auto;
  padding: 140px 0 0;
  text-align: center;
  h2
    font-size 40px
    color #fff
    margin 0
    text-shadow: -4px 4px 0 #307692;
    font-family: 'Roboto Slab',serif;
  p
    color rgba(#fff, 0.8)
    font-size 17px
  .everyone
    font-size: 14px;
    opacity: 0.6;
  a
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background: #f36623;
    padding: 14px 20px;
    border-radius: 3px;
    text-decoration: none;
    &:hover
      background: darken(#f36623, 10%)
#ls
  width: 90px;
  height: 100px;
  margin-bottom: 10px;

.flags
  margin-top 15px
.alumni, .remote
  color: #ec8600;
  font-size: 14px;
  background: #fff2e0
  padding: 3px 8px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  font-weight: 400;
.remote
  color: #632ca6;
  background: #e7dff1;
